/* Turn cursor into gold circle */

/* =============== VARIABLES =============== */
:root {
    /* colors */
    --primary-color: hsl(35, 42%, 48%);
    --primary-color-lighter: hsl(35, 32%, 48%, 0.7);
    --background-color: hsl(45, 30%, 97%);
    --background-color-darker: hsl(45, 7%, 80%);

    --text-color: hsl(45, 30%, 18%);
    --text-color-lighter: hsl(45, 10%, 38%);

    /* font sizes */
    --small-font-size: 1rem;
    --normal-font-size: 1.5rem;
    --h1-font-size: 5.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 3.8rem;
    --icon-size: 2rem;
    
    /* font weights */
    --normal-font-weight: 400;
    --h1-font-weight: 200;
    
    /* misc */
    --sidebar-gap: 40px;
    --h2-gap: 10px;
    --socials-gap: 2rem;
    --image-offset: 70px;
    --down-arrow-gap: 4rem;
    --proj-num-size: 2.5rem;
    --timeline-width: 4px;
    --me-size: 250px;
    --content-container-width: 100%;
    --email-me-width: 160px;
    --p-margin: 1.4rem;
    --typing-height: 50px;
    --slide-amt: -215px;
    --proj-p-margin: 3rem;
}

/* for mobile */
@media screen and (max-width: 767px) {
    :root {
        /* font sizes */
        --small-font-size: 0.7rem;
        --normal-font-size: 0.8rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 0.8rem;
        --h3-font-size: 2rem;
        --icon-size: 1.5rem;

        /* misc */
        --sidebar-gap: 25px;
        --socials-gap: 0.8rem;
        --down-arrow-gap: 6rem;
        --proj-num-size: 1.6rem;
        --image-offset: 70px;
        --timeline-width: 2px;
        --me-size: 150px;
        --content-container-width: 96%;
        --email-me-width: 100px;
        --p-margin: 1rem;
        --typing-height: 20px;
        --h2-gap: 3px;
        --slide-amt: -85px;
        --proj-p-margin: 3rem;
    }
}

/* =============== GLOBALS =============== */

* {
    scroll-behavior: smooth;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    overflow-x: hidden;
    overflow-y: hidden;

    /*hide cursor
    cursor: none;*/
}

html {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    cursor: url('app/images/cursorsmall.svg') 6 6, auto;
}

a {
    text-decoration: none;
    color: var(--text-color);
    cursor: url('app/images/cursorbig.svg') 20 10, pointer;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    height: auto;
    width: 100%;

    font-size: var(--normal-font-size);
    font-weight: var(--normal-font-weight);
    font-family: 'Playfair Display', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: left;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*
html, body {
    overflow: hidden;
}*/

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    letter-spacing: var(--h2-gap);
    color: var(--primary-color);
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
}

h4 {
    margin-top: var(--proj-p-margin);
    font-weight: (var(--normal-font-weight));
}

/* =============== DECOR =============== */

#scribbles {
    position: fixed;
    width: 300px;
    height: 300px; 
    opacity: .1;
    right: -130px;
    top: -100px;
}

#scribbles2 {
    position: fixed;
    width: 300px;
    height: 300px;
    opacity: .1;
    bottom: -100px;
    left: -150px;
}

/* for non-mobile */
@media screen and (min-width: 768px) {
    #scribbles {
        position: fixed;
        opacity: 0.05;
        width: 500px;
        height: 500px;
        right: -230px;
        top: -200px;
    }

    #scribbles2 {
        position: fixed;
        opacity: 0.07;
        width: 500px;
        height: 500px;
        bottom: -200px;
        left: -250px;
    }
}

/* =============== CURSOR =============== 
.cursor {
    position: fixed;
    opacity: 1;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: hsl(0, 0%, 80%);
    pointer-events: none;
    z-index: 5;
    mix-blend-mode: difference;
    transition: width 0.5s, height 0.5s; 
    transform: translate(-50%, -50%); 
}

.grow {
    width: 30px;
    height: 30px;
    transition: width 0.5s, height 0.5s;
}

/* =============== SOCIALS =============== */

#socials {
    opacity: 0.8;
    font-size: var(--icon-size);
    position: fixed;
    right: var(--socials-gap);
    z-index: 3;

    display: flex;
    flex-direction: column;
}

#socials a {
    margin-top: 1rem;
}

/* =============== HOME ARROW =============== */
.home-arrow {
    color: var(--primary-color);
    position: fixed;
    left: var(--socials-gap);
    top: 1rem;
    font-size: var(--icon-size);
    z-index: 5;
}

/* =============== NUM BAR ===============
#num-bar {
    margin-top: 0;
    border: green 3px solid;
    display: flex;
}

/* =============== SIDEBAR =============== */
#sidebar {
    width: auto;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    z-index: 3;
}

#sidebar ul {
    margin-top: 2rem;
}

/* Add text that shows up to the right saying what the page is */
#sidebar li {
    margin: var(--sidebar-gap);
    cursor: url('app/images/cursorbig.svg') 20 10, pointer;
}

.nav-bar {
    opacity: .6;
    font-size: 30px;
}

/* For bigger-than-phone screens */
@media screen and (min-width: 481px) {
    #home-bar:hover:after {
        content: " HOME";
        opacity: .4;
        font-weight: 100;
        font-size: 20px;
        letter-spacing: 3px;
        cursor: url('app/images/cursorsmall.svg') 6 6, pointer;
    }
    
    #about-bar:hover:after {
        content: " ABOUT";
        opacity: .4;
        font-weight: 100;
        font-size: 20px;
        letter-spacing: 3px;
        cursor: url('app/images/cursorsmall.svg') 6 6, pointer;
    }
    
    #experience-bar:hover:after {
        content: " EXPERIENCE";
        opacity: .4;
        font-weight: 100;
        font-size: 20px;
        letter-spacing: 3px;
        cursor: url('app/images/cursorsmall.svg') 6 6, pointer;
    }
    
    #projects-bar:hover:after {
        content: " PROJECTS";
        opacity: .4;
        font-weight: 100;
        font-size: 20px;
        letter-spacing: 3px;
        cursor: url('app/images/cursorsmall.svg') 6 6, pointer;
    }
}

/* =============== TYPEWRITER =============== */

.wrapper {
    display: inline-flex;
}

.wrapper .static-txt {
    color: var(--text-color);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-gap);
}

.wrapper .dynamic-txt {
    margin-left: 12px;
    height: var(--typing-height);

}

.dynamic-txt li{
    position: relative;
    top: 0;
    animation: slide 15s steps(5) infinite;
}

@keyframes slide {
    100% {
        top: var(--slide-amt);
    }
}

.dynamic-txt li span h2 {
    position: relative;
}

.dynamic-txt li span h2::after {
    left: 0;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--primary-color);
    animation: typing 3s steps(18) infinite;
    background-color: var(--background-color);
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -32px 0 35px;
    }
}

/* =============== CONTENT =============== */
#content {
    width: var(--content-container-width);
    position: fixed;
    right: 0;
    height: 100vh;

    overflow: scroll;
    /*overflow-x: hidden;*/
    scroll-snap-type: y mandatory;
    z-index: 1;

    word-wrap: break-word;
}

.content-container {
    padding: 3rem;
    height: 100vh;
    width: 90vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    scroll-snap-align: center;
    position: relative;
}

.title-content, .subtitle-content {
    z-index: 2;
}

.background-image {
    opacity: 0.6;
    position: absolute;
    z-index: 1;
    width: 60vw;
    height: auto;

    object-fit: cover;
    min-width: 100px;
    max-width: 700px;
    left: var(--image-offset);

    /* hide or unhide images */
}

.background-image img {
    opacity: 0.6;
}

.lighter img {
    opacity: 0.4;
}

.background-image {
    -moz-box-shadow: 10px 10px 10px var(--background-color-darker);
    -webkit-box-shadow: 10px 10px 10px var(--background-color-darker);
    box-shadow: 10px 10px 10px var(--background-color-darker);
}

.text-content p {
    margin-top: var(--p-margin);
}

/* for non-mobile */
@media screen and (min-width: 768px) {
    #content {
        left: 20vw;
    }

    .content-container {
        width: 70vw;
    }

    .background-image {
        width: 60vw;
    }

    /*
    .content-container {
        flex-direction: row;
        justify-content: space-between;
        flex: ;
    }

    #home {
        flex-direction: column;
        justify-content: center;
    }

    .title-content {
        border: blue solid 3px;
        width: auto;
    }

    .text-content {
        border: green solid 3px;
    }*/
}

/* =============== PROJECTS =============== */

.project-unit {
    margin-top: 7rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-unit a {
    width: 100%;
    max-width: 600px;
    -moz-box-shadow: 10px 10px 15px var(--background-color-darker);
    -webkit-box-shadow: 10px 10px 15px var(--background-color-darker);
    box-shadow: 10px 10px 15px var(--background-color-darker);
}

.project-image {
    object-fit: cover;
    width: var(--project-img-width);
    height: auto;
    z-index: 2;
}

.project-title {
    margin-top: 2rem;
}

.project-text {
    font-size: var(--small-font-size);
    max-width: 600px;
}

.arrow {
    font-size: 15px;
    cursor: url('app/images/cursorbig.svg') 20 10, pointer;
}

.down {
    color: var(--primary-color);
    position: absolute;
    bottom: var(--down-arrow-gap);
    right: 42%;
}

.projectnum-container ul{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-items: center;
}

.projectnum-container ul li {
    text-align: center;
    width: var(--proj-num-size);
    height: var(--proj-num-size);
    border-radius: 50%;
    background-color: var(--primary-color-lighter);
    margin-right: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* for non-mobile */
@media screen and (min-width: 768px) {
    .project-text {
        max-width: 800px;
    }

    .arrow {
        font-size: 25px;
    }

    .down {
        position: absolute;
        right: 50%;
        bottom: var(--down-arrow-gap);
    }
}

.proj-title {
    font-size: var(--h3-font-size);
}

.subtitle-content {
    font-size: (var(--normal-font-size));
    text-shadow: 2px 2px white;
}

.white-shadow {
    text-shadow: 2px 2px white;
}

/* =============== TIMELINE =============== */

.experience-content {
    font-size: var(--small-font-size);
}

.experience-content h1 {
    margin-bottom: 2rem;
}

.timeline {
    width: 100%;
    height: 100%;
    position: relative;
}

.timeline:after {
    position: absolute;
    content: '';
    width: var(--timeline-width);
    height: 100%;
    background-color: var(--text-color);
    margin-top: 0.5rem;
    
    left: 50%;
    top: 0;
}

.timeline ul li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: 2%;
    width: 45%;
    height: 100%;
    padding: 30px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    margin-right: 3%;
    text-align: right;
}

.timeline ul li:nth-child(odd) .read-more-img {
    align-self: end;
}

.timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    margin-left: 3%;
}

.timeline-title {
    margin-bottom: 10px;
}

.subtitle {
    color: var(--text-color);
    font-size: var(--small-font-size);
    font-style: italic;
    opacity: 0.5;
    letter-spacing: 1.5px;
}

.timeline ul li p {
    margin: 4px 0;
    
}

.experience-button {
    align-self: end;
}

/* for mobile */
@media screen and (max-width: 767px) {
    .timeline ul li {
        width: 90%;
        float: none;
        clear: none;
        margin-bottom: 20px;
    }

    .timeline ul li:nth-child(odd) {
        margin-left: 5%;
        text-align: left;
    }

    .timeline ul li:nth-child(odd) .read-more-img {
        align-self: flex-start;
    }

    .timeline ul li:nth-child(even) {
        margin-right: 5%;
    }

    .timeline:after {
        display: none;
    }

    .experience-content h1 {
        margin-bottom: 0.5rem;
    }
}

/* =============== READ MORE =============== */

.read-more-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 3;
}

.container p {
    padding-bottom: .5rem;
}

.read-more-button {
    color: var(--primary-color);
    cursor: url('app/images/cursorbig.svg') 20 10, pointer;
}

.read-more-text {
    display: none;
    margin-top: 8px;
}

.read-more-text span {
    margin: 4px 0;
}

.read-more-text--show {
    display: flex;
    flex-direction: column;
}

.read-more-text--show .read-more-subtitle { 
    margin-top: 12px;
}

.read-more-img {
    object-fit: cover;
    width: 70%;
    max-width: 500px;
    margin-top: 12px;
}

/* =============== PROJECTS PAGES =============== */

.pcontent {
    height: auto;
    width: 60%;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    z-index: 0;
}

.pcontent p, .pcontent img {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.pcontent img {
    max-width: 600px;
    width: 80%;
}

.project-image {
    -moz-box-shadow: 10px 10px 10px var(--background-color-darker);
    -webkit-box-shadow: 10px 10px 10px var(--background-color-darker);
    box-shadow: 10px 10px 10px var(--background-color-darker);
}

.border {
    border: solid 3px var(--text-color-lighter);
}

/* =============== ABOUT =============== */

.me-img {
    opacity: 0.9;
    width: var(--me-size);
    height: var(--me-size);
    object-fit: cover;
    transform: translateX(-20px);
}

.button {
    padding: .25rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    width: var(--email-me-width);
    border: 2px solid var(--primary-color);
    box-shadow: 3px 3px 5px var(--background-color-darker);

    display: flex;
    align-items: center;
    justify-content: center;
}

#about .text-content p {
    font-size: var(--small-font-size);
}

/* ========== TRANSITIONS ========== */

.fade-in {
    opacity: 0;
    transition: 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left, .from-right {
    transition: opacity 250ms ease-in, transform 800ms ease-in;
    opacity: 0;
}

.from-left.appear, .from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.skills-involved ul li {
    margin: 20px;
    padding: 20px;
}

#ls-prezi {
    width: 430px;
}

#arts-edge-website {
    width: 250px;
}

#mobile-image {
    width: 300px;
    height: auto;
    border: none;
}