/* Turn cursor into gold circle */

/* =============== VARIABLES =============== */
:root {
    /* colors */
    --primary-color: hsl(40, 40%, 38%);
    --background-color: hsl(40, 50%, 98%);
    --background-color-lighter: hsla(40, 50%, 98%, 0.7);

    --text-color: hsl(40, 30%, 20%);

    /* font sizes */
    --normal-font-size: 1.5rem;
    --sidebar-font-size: 1.5rem;
    --h1-font-size: 8rem;
    
    /* font weights */
    --normal-font-weight: 400;
    --h1-font-weight: 200;
    
    /* misc */
    --sidebar-width: 300px;

}

/* for mobile */
@media screen and (max-width: 768px) {
    :root {
        /* font sizes */
        --h1-font-size: 4rem;

        /* misc */
        --sidebar-font-size: 1rem;
    }
}

/* =============== GLOBALS =============== */

* {
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--background-color-lighter);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    width: 100%;
    overflow-x: hidden;

    font-size: var(--normal-font-size);
    font-weight: var(--normal-font-weight);
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: left;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}

.content-container {
    padding: 3rem;
    height: 100vh;
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* =============== SIDEBAR =============== */

/* For non-mobile */
#sidebar { 
    color: var(--background-color-lighter);
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--primary-color);
    position: fixed;
    left: 0;
    text-align: left;
    font-size: var(--sidebar-font-size);
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#navigation-container ul {
    margin: 2rem;
}

#navigation-container li {
    margin-bottom: 7vh;
    cursor: pointer;
}

/* For mobile */
@media screen and (max-width: 768px) {
    #sidebar {
        height: auto;
        width: 100%;
        top: 0;
        position: relative;
        text-align: center;
    }

    #navigation-container a {
        margin: 4vh;
    }
}

/* ========== JAVASCRIPT HELPERS ========== */


/* =============== CONTENT =============== */
#content {
    width: (100% - 600px);
    position: absolute;
    margin-left: 300px;
    left: 0;
}

/* For mobile */
@media screen and (max-width: 768px) {
    #content {
        width: 100%;
        margin-left: 0;
        top: -25%;
    }
}

/* =============== HOME =============== */
